:root{
	--bg-color: #1C1C1C;
	--text-color: #F5F5F5;
	--main-color: #F5F5F5;
	--second-color: #708090;
	--big-font: 4.5rem;
	--h2-font: 3.2rem;
	--p-font: 1rem;
}
section{
	display: flex;
	flex-direction: column;
	gap: 100px;
	max-width: 1110px;
	margin: 0 auto;
}
.services{
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 20px;
}
.certificados_group{
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	width: 100%;
	height: 100%;
}
.certificados_card{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px;
	border: 2px solid var(--second-color);
	transition: ease .50s;
	cursor: pointer;
    height: 100%;
	width: 100%;
	line-height: 25px;
	gap: 10px;
}
.certificados_card img{
	width: 80px;
	height: auto;
}
.certificados_card h3{
	font-size: var(--h2-font);
}
.certificados_card p{
	font-size: var(--p-font);
	text-align: justify;
}
.certificados_card:hover{
	background: var(--second-color);
	box-shadow: 20px 0 90px 0 rgb(10 10 70 / 10%);
	border-radius: 10px;
	will-change: transform;
	transform: perspective(1000px) rotateX(4.80deg) rotateY(10.2deg) scale3d(1.0, 1.0, 1.0);
}

@media(max-width: 1200px){
	section{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 500px;
	}
	:root{
		--big-font: 4rem;
		--h2-font: 2.5rem;
		--p-font: 1rem;
		transition: .3s;
	}
	.services{
		display: flex;
		flex-direction: column;
	}
}
