:root{
	--bg-color: #1C1C1C;
	--text-color: #F5F5F5;
	--main-color: #F5F5F5;
	--second-color: #708090;
	--big-font: 4.5rem;
	--h2-font: 3.2rem;
	--p-font: 1rem;
}
.about{
	display: grid;
	grid-template-columns: repeat(2, 2fr);
	align-items: center;
	gap: 50px;
	max-width: 1110px;
	margin: 0 auto;
}
.about img{
	max-width: 100%;
	width: 350px;
	height: auto;
}
.about_text{
    text-align: justify;
}
.about_text h3{
	font-size: 32px;
	margin-bottom: 20px;
}
.about_text p{
	font-size: var(--p-font);
	line-height: 25px;
	margin-bottom: 20px;
}
.btn{
	display: flex;
	color: var(--text-color);
	font-size: var(--p-font);
	padding: 10px 35px;
	border: 2px solid var(--main-color);
	border-radius: 10px;
	transition: ease .50s;
	text-decoration: none;
	width: 40%;
}
.btn:hover{
	transform: scale(1.2);
}

@media(max-width: 1200px){
	:root{
		--big-font: 4rem;
		--h2-font: 2.5rem;
		--p-font: 1rem;
		transition: .3s;
	}
	.about{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 500px;
	}
	.about img{
		width: 200px;
	}
}

