*{
    font-family: Popp;
}
.header {
    background-color: #000000;
    border-bottom: 2px solid #fff;
    position: fixed;
    top: 0;
    height: 68px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header span{
    font-size: 2rem;
    color: #fff;
    font-weight: 500;
}

.header a{
    text-decoration: none;
    color: #fff;
    padding-inline: 1rem;
    font-size: 1.125rem; /* 18 px é  1.125rem */
}